/* this css page is to set color, width and margins */

/*color of H1 heading*/
H1{
    color: lightseagreen;
}
/*attribute to set content left*/
.left{
    float:left;
    width: 100%;
}
/*set color to lightseagreen */
.greencolor{
    color: lightseagreen;
}
/*set color to white */
.white{
    color: white;
}
/*set color to ghostwhite */

.ghostwhite{
    background-color: ghostwhite;
}
/*set color to backgreen */
.backgreen
{
    background-color: lightseagreen;
}

/*float elemet to left */
.left1{
    float:left;
}
/*set width to 20 */
.width20
{
    float:left;
    width:20%;
}
/*set properties to footer elments */
.footer{
    float:left;
    width:30%;
    margin-left: 10%;
}
/*set margin */
.lmargin60{
    margin-left: 60%;
}
.lmargin5{
    margin-left: 3%;
}
.lmargin50{
    margin-left: 50%;
}
.lmargin10{
    margin-left: 10%;
}
.lmargin15{
    margin-left: 15%;
}
.lmargin25{
    margin-left: 25%;
}
.lmargin30{
    margin-left: 30%;
}
.lmargin20{
    margin-left: 20%;
}
.width100{
    width: 100%;
}
.width40{
    width: 40%;
}
.width70{
    width: 70%;
}
.width27{
    width: 27%;
}
.width20{
    width: 20%;
}
.width15{
    width: 15%;
}
.width30{
    width: 30%;
}
.width5{
    width: 5%;
}
.width7{
    width: 7%;
}
.width8{
    width: 8%;
}

/*set content over container */
.container{
    position: relative;
    color: white;
}
.relative
{
    position: relative;
}
/*set elements properly*/
.inline
{
    display: inline-flex;
}

.content{
        font-size: 200%;


    position: absolute;
    top: 30%;
    left: 20%;
    right: 30%;

}
